{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="groupname" placeholder="Group name"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="student_1" placeholder="Student 1"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="student_2" placeholder="Student 2"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="student_3" placeholder="Student 3"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="student_4" placeholder="Student 4"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
